# Node modules directory
node_modules/

# NYC (linting) output directory
.nyc_output/

# Storybook UI testing directories
.storybook/
storybook-static/

# Webpack distributable (build) directory
dist/

# IDE directories/files
.vscode/
